*/.objs
*.o
*.d
.vscode
*/main
**/main
assignments/image_transform/ImageTransform
assignments/image_transform/ImageTransform_submission.zip
assignments/image_transform/out-grayscale.png
assignments/image_transform/out-illinify.png
assignments/image_transform/out-spotlight.png
assignments/image_transform/out-watermark.png
assignments/image_transform/test